@import url(//db.onlinewebfonts.com/c/8b37ded096ad544bb0f5b33c22094682?family=ITC+Serif+Gothic);
@import url('http://fonts.cdnfonts.com/css/stellar');

.questions {
    font-family: 'ITC Serif Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.answers {
    font-family: 'Stellar';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: 0.02em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}