/*@import url(//db.onlinewebfonts.com/c/47be2b2cac26f996dfa1c885d7c9d53d?family=Aurek-Besh);*/
/*@import url(//db.onlinewebfonts.com/c/8b37ded096ad544bb0f5b33c22094682?family=ITC+Serif+Gothic);*/
/*@import url('http://fonts.cdnfonts.com/css/stellar');*/

.game {
    padding: 50px 130px;
}

h2 {
    font-family: ITC Serif Gothic;
    font-size: 60px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

h3 {
    position: static;
    width: 515px;
    height: 20px;
    left: 0px;
    top: 0px;

    /* aurek p1 */

    font-family: 'Aurek-Besh';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #161E34;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
