
/*@import url('http://fonts.cdnfonts.com/css/stellar');*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17px 130px;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 96px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.tabs {
    position: static;
    width: 50px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: 'Stellar';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* identical to box height, or 24px */

    letter-spacing: 0.02em;

    color: #97ABC9;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    text-align: center;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .header-buttons {
        display: none;
    }
}