.footer {
    padding: 0 130px;
    padding-top: 100px;
}

.line {
    width: 100%;

    border: 1px solid #2D3C65;
    margin: 16px 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
<<<<<<< HEAD
    width: 100%;
=======
    left: 0px;
    top: 0px;

>>>>>>> b66b2311063c4bc465652800d9b07d499a31e709
    font-family: 'Stellar';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2D3C65;
}

.header-socials {
    display: flex;
    flex-direction: row;
    gap: 8px;

}